body {
  margin: 0px ;

  background-color: LightGray ;
}

* {
  box-sizing: border-box;
}

#left_header {
  float: left;
  width: 20%;
  height: 9vh;
  text-align: center;
  font-size: 3vh ;
  font-weight: bold ;
  padding-top: 2.5vh;
  padding-right: 0vh;
  padding-bottom: 2.5vh;
  padding-left: 0vh;
}

#right_header {
  float: left;
  width: 80%;
  height: 9vh;
  text-align: center;
  font-size: 3vh ;
  font-weight: bold ;
  padding-top: 2.5vh;
  padding-right: 0vh;
  padding-bottom: 2.5vh;
  padding-left: 0vh;
}

#profile_picture_div {
  float:right;
}

#profile_picture_img {
  max-width: 100%;
  max-height: 9vh;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

#left_content {
  float: left;
  width: 20%;
  height: 91vh;
  overflow-y: scroll;
  background-color: White;
  padding: 10px;
}

#right_content {
  float: left;
  width: 70%;
  height: 91vh;
  overflow-y: scroll;
  background-color: White;
  padding: 10px;
}

#left_empty_column {
  float: left;
  width: 5%;
  height: 91vh;
}



/* Clear floats after the columns */
#header_row:after {
  content: "";
  display: table;
  clear: both;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2rem 0.2rem 0px;
}

#content_row:after {
  content: "";
  display: table;
  clear: both;
}

.example_solution {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

.theory {
  border-radius: 25px;
  border: 2px solid #FF0000;
  padding: 20px;
}