* {
  box-sizing: border-box;
}

body {
  margin: 0px ;
  
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  line-height: 175%;
}

h1 {
  font-weight: bold;
}

p {
  line-height: 175%;
}

a {
  font-color: black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:active {
  
}

ol {
  counter-reset: item;
  
  line-height: 150%;
  padding-left: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  font-weight: bold;
}

#left_header {
  float: left;
  width: 20%;
  height: 9vh;
  text-align: center;
  font-size: 3vh ;
  font-weight: bold ;
  padding-top: 2.5vh;
  padding-right: 0vh;
  padding-bottom: 2.5vh;
  padding-left: 0vh;
}

#right_header {
  float: left;
  width: 80%;
  height: 9vh;
  text-align: center;
  font-size: 3vh ;
  font-weight: bold ;
  padding-top: 2.5vh;
  padding-right: 0vh;
  padding-bottom: 2.5vh;
  padding-left: 0vh;
}

#profile_picture_div {
  float:right;
}

#profile_picture_img {
  max-width: 100%;
  max-height: 9vh;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

#left_content {
  float: left;
  width: 20%;
  height: 91vh;
  overflow-y: scroll;
  background-color: White;
  padding: 10px;
  
}

#right_content {
  float: left;
  width: 80%;
  height: 91vh;
  overflow-y: scroll;
  background-color: White;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#left_empty_column {
  float: left;
  width: 0%;
  height: 91vh;
}

#header_row:after {
  content: "";
  display: table;
  clear: both;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2rem 0.2rem 0px;
}

#content_row:after {
  content: "";
  display: table;
  clear: both;
}

#portrait_warning_div {
  border-radius: 25px;
  border: 2px solid black;
  background: #FFCC00;
  padding: 10px;
  display: none;
}

#portrait_warning_p {
  text-align: center;
}

.table_of_contents_h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inline_youtube_icon {
  height: 1em;
  vertical-align:middle;
  padding-bottom: 0.1em;
}

.example_solution {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

.theory {
  border-radius: 25px;
  border: 2px solid #FF0000;
  padding: 20px;
}
